use guix gcc-toolchain uriparser doxygen ruby clang
dotenv
env_vars_required MRUBY_SRC
path_add C_INCLUDE_PATH include
path_add C_INCLUDE_PATH "$MRUBY_SRC/include"
path_add C_INCLUDE_PATH "$MRUBY_SRC/build/host/include"
